.beer-info {
  padding: 5px 5px 0 5px;
}

.beer-info ul {
  list-style-type: none;
}

.beer-info a {
  text-decoration: none;
}

.beer-info-name {
  font-weight: bold;
  color: black;
}

.beer-info-brewery {
  font-size: 90%;
  margin-left: 10px;
}
