.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  // Set the fixed height of the footer here
  // Needs to match body margin-bottom
  height: 60px;
  color: white;
  background-color: #333;
}

.footer .container {
  // height: auto;
  margin: 20px 0;
}
